.instuctionBox{
  display: flex;
  justify-content: center;
}

.instuctionBox_2 {
  display: flex;
  justify-content: center;
}

.instuctionBox h2 {
  text-align: left;
  margin-top: 300px;
  width: 600px;
}

.instuctionBox_2 h2 {
  text-align: center;
  margin: 300px;
  width: 600px;
}

.svgContainer {
    position: absolute;
    top: 25%;
    left: 10%;
  }
  
.overlaySvg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
.instruction{
  position: relative;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centeredButton {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgb(63, 158, 240);
    font-size: 2rem;
    padding: 20px 30px;
    border: 1px solid rgb(63, 158, 240);
    border-radius: 30px;
    cursor: pointer;
    width: 200px;  /* adjust this value as needed */
    height: 60px;  /* adjust this value as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.revealButton {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgb(63, 158, 240);
  font-size: 2rem;
  padding: 20px 30px;
  border: 1px solid rgb(63, 158, 240);
  border-radius: 30px;
  cursor: pointer;
  width: 200px;  /* adjust this value as needed */
  height: 60px;  /* adjust this value as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.topButton {
    position: relative;
    left: -100px;
    top: 60px;
    color: white;
    background-color: rgb(63, 158, 240);
    font-size: 2rem;
    padding: 20px 30px;
    border: 1px solid rgb(63, 158, 240);
    border-radius: 30px;
    cursor: pointer;
    width: 200px;  /* adjust this value as needed */
    height: 60px;  /* adjust this value as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
